<%- include("partials/header") -%>
<h1 class="category-head">Add Subcategories</h1>
 <div class="form-group row font-weight-bold text-decoration-underline  mb-3">
 <div class= "col-md-6 form-control cat-label" >
   <label> Category</label>
 </div>
 <div class= "col-md-6 form-control cat-label">
   <label> Subcategory</label>
 </div>
 </div>
<form action="/subcategories" method="post">
  <div class="form-group row subcategory mb-3">
  <!-- display the header of subctegory form -->
<% foundSubcategories.forEach(function(foundSubcategory) { %>
   <div class="col-md-6 form-control displaySub">
     <%= foundSubcategory.category.name %>
   </div>
   <div class="col-md-6 form-control displaySub">
      <%= foundSubcategory.name %>
   </div>
  <%  }); %>
   <div class= "col-md-6 subcategory">
      <select id = "category_id" class="form-control" name="category" select >
         <% foundCategories.forEach(function(foundCategory) {  %>
           <option value="<%= foundCategory._id %>"><%= foundCategory.name %></option>
         <% }) %>
      </select>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" name="subcategory" placeholder="Subcategory">
    </div>
    <button type="submit" class="btn btn-primary btn-md">+</button>
  </div>

</form>
<%- include("partials/footer") -%>
